[Unit]
Description=mastodon_control_bot
After=network.target

[Service]
EnvironmentFile=/etc/twitter_bot.env
WorkingDirectory=%h
ExecStart=/bin/bash -lc '"${BOTS_BASE_DIR:?missing BOTS_BASE_DIR}/venv/bin/python3" "${BOTS_BASE_DIR:?missing BOTS_BASE_DIR}/mastodon_control_bot.py"'
Restart=on-failure
RestartPreventExitStatus=2
RestartSec=10
User=sascha
Group=sascha

[Install]
WantedBy=multi-user.target
